<section class="plant-container">
  <div class="aPlant" ng-repeat="planta in $ctrl.plantas">
    <div class="plant-data">
      <h2>
        <span class="genus">{{planta.genus}}</span>
        <span class="epithet">{{planta.epithet}}</span>
      </h2>
      <h4>Familia {{planta.family | uppercase}}</h4>
      Conocida como: 
      <span ng-repeat="vernacular in planta.colloquial_names">{{vernacular}}</span>
    </div>
    <div class="plant-pics-container">
      <div class="plant-pic" ng-repeat="picture in planta.pictures">
        <span>{{picture.label}}</span>
        <img ng-src="{{picture.url}}" alt="{{picture.label}}" title="{{picture.label}}">
      </div>
    </div>
  </div>
</section>

<section class="add-plant">
  <form name="newPlanta" ng-submit="$ctrl.addPlanta()">
    <h3>Agregar una nueva planta</h3>

    <div class="form-element">
      <input type="text" ng-model="$ctrl.newPlanta.genus" placeholder="Género" required>
    </div>
    <div class="form-element">
      <input type="text" ng-model="$ctrl.newPlanta.epithet" placeholder="Epíteto" required>
    </div>
    <div class="form-element">
      <input type="text" ng-model="$ctrl.newPlanta.family" placeholder="Familia" required>
    </div>
    <div class="form-element">
      <input type="text" ng-model="$ctrl.newPlanta.colloquial_names[0]" placeholder="Nombre común" required>
    </div>
    
    <h3>Foto</h3>

    <div class="form-element">
      <input type="text" ng-model="$ctrl.newPlanta.pictures[0].url" placeholder="Url" required>
    </div>
    <div class="form-element">
      <input type="text" ng-model="$ctrl.newPlanta.pictures[0].label" placeholder="Etiqueta" required>
    </div>

    <input type="submit" value="Agregar">
  </form>
  
</section>